:root {
  --color-primary: #832364;
  --color-primary-2: #a54686;
  --color-primary-3: #d49bb9;
  --color-primary-4: #d8b2c6;

  --color-secondary: #000000;

  --color-grey: #222222;
  --color-grey-2: #666666;
  --color-grey-3: #999999;
  --color-grey-4: #cccccc;
  --color-grey-5: #f0f0f0;
}

/*//////////////////////////////////////////////////*/
/*			 Desktop Atual acima de 1200px			*/
/*//////////////////////////////////////////////////*/

@media (min-width: 1200px) {
}

/*//////////////////////////////////////////////////*/
/*			            Tablets 					*/
/*//////////////////////////////////////////////////*/

@media (min-width: 992px) and (max-width: 1199px) {
}

/*//////////////////////////////////////////////////*/
/*			            Tablets 					*/
/*//////////////////////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991px) {
}

/*//////////////////////////////////////////////////*/
/*	       Smartphones e Tablets Menores			*/
/*//////////////////////////////////////////////////*/

@media (min-width: 576px) and (max-width: 767px) {
}

/*//////////////////////////////////////////////////*/
/*	       Smartphones e Tablets Menores			*/
/*//////////////////////////////////////////////////*/

@media (max-width: 575px) {
}
