/*
	SITE:
	AUTHOR: Weslley Clyton
*/
/*
	CSS RESET
*/
html,
body,
div,
span,
input,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* forms */
label {
  display: block;
  cursor: pointer;
  margin-bottom: 3px;
}
button {
  border: none;
  cursor: pointer;
}
input,
textarea,
select {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 3px 5px;
  font-size: 12px;
  background: #ffffff;
}
input:focus,
textarea:focus,
select:focus {
  border-color: transparent;
}
input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
  float: left;
  cursor: pointer;
}
textarea {
  border: 1px solid #cccccc;
}
select {
  border: 1px solid #cccccc;
}
:focus,
:active {
  outline: none !important;
}
::-webkit-input-placeholder {
  font-size: 11px;
  line-height: 16px;
}
::-moz-placeholder {
  font-size: 11px;
  line-height: 16px;
}
:-ms-input-placeholder {
  font-size: 11px;
  line-height: 16px;
}
input:-moz-placeholder {
  font-size: 11px;
  line-height: 16px;
}

a:hover {
  list-style: none;
  text-decoration: none;
  color: currentColor;
}

/*
	STRUCTURE FIXED FOOTER
*/
html,
body,
.wrapper {
  height: 100%;
  background: var(--color-grey-5);
}
body > .wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
}
.content_main {
  overflow: auto;
  padding-bottom: 390px;
  position: relative;
  background-color: var(--color-grey-5);
}
.content_footer {
  margin-top: -390px;
  height: 390px;
  clear: both;
  position: relative;
}

.menu-aberto {
  overflow: hidden;
}

/*
	BEGIN SITE STYLE
*/

:root {
  --color-primary: #832364;
  --color-primary-2: #a54686;
  --color-primary-3: #d49bb9;
  --color-primary-4: #d8b2c6;

  --color-secondary: #000000;

  --color-grey: #222222;
  --color-grey-2: #666666;
  --color-grey-3: #999999;
  --color-grey-4: #cccccc;
  --color-grey-5: #f0f0f0;
}

body {
  font-family: "Rosario", sans-serif;
  color: var(--color-grey-2);
  font-size: 100%;
  background-color: #ffffff;
  overflow-x: hidden;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
::-moz-selection {
  background: var(--color-primary);
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: var(--color-primary);
  color: #ffffff;
  text-shadow: none;
}

h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
}
h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
}
h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

h1.title {
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
}

h1.title::after {
  content: "";
  position: absolute;
  background: var(--color-grey-5);
  width: 60%;
  height: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bug-vh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.img-mobile {
  width: 100%;
  height: auto;
}

[class^="btn-primary-"],
[class*="btn-primary-"] {
  display: inline-block;
  border: 1px solid var(--color-primary-2);
  background: transparent;
  text-align: center;
  font-size: 14px;
  color: var(--color-primary-2);

  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

[class^="btn-primary-"]:hover,
[class*="btn-primary-"]:hover {
  background-color: var(--color-primary-2);
  color: var(--color-grey-5);
}

.btn-primary-lg {
  min-width: 280px;
  height: 50px;
  line-height: 45px;
}

.btn-primary-sm {
  min-width: 170px;
  height: 25px;
  line-height: 22px;
}

[class^="btn-secondary-"],
[class*="btn-secondary-"] {
  display: inline-block;
  border: none;
  background: var(--color-primary-2);
  color: #fff;
  text-align: center;
  font-size: 14px;
}

[class^="btn-secondary-"]:hover,
[class*="btn-secondary-"]:hover {
  color: #fff;
}

.btn-secondary-lg {
  min-width: 280px;
  height: 50px;
  line-height: 45px;
}

.btn-secondary-sm {
  min-width: 140px;
  height: 25px;
  line-height: 22px;
}

[class^="btn-inverse-"],
[class*="btn-inverse-"] {
  display: inline-block;
  margin: 0 auto;
  border: none;
  background: #fff;
  color: var(--color-primary-2);
  text-align: center;
  font-size: 14px;
}

[class^="btn-inverse-"]:hover,
[class*="btn-inverse-"]:hover {
  color: var(--color-primary-2);
}

.btn-inverse-lg {
  min-width: 280px;
  height: 50px;
  line-height: 45px;
}

.btn-inverse-sm {
  min-width: 140px;
  height: 25px;
  line-height: 22px;
}

.fs-0 {
  font-size: 0;
}

.lh-0 {
  line-height: 0;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-mobile {
  width: 100%;
  height: auto;
}

.owl-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.owl-dot {
  width: 10px;
  height: 10px;
  background: var(--color-grey-2) !important;
  border-radius: 100%;
  margin: 0 3px;
}

.owl-dot.active {
  background: var(--color-primary-2) !important;
}

#header {
  position: absolute;
  width: 100%;
  z-index: 20;
}

#header .navbar-brand img {
  width: 100%;
  height: auto;
}

#header .contato-link a:first-child {
  font-size: 14px;
  color: var(--color-grey-5);
  margin-right: 20px;
}

#header .contato-link a:last-child {
  font-size: 26px;
  color: var(--color-grey-5);
  font-weight: 700;
}

#header .nav-item {
  display: inline-block;
  color: var(--color-grey-5);
  border-right: 1px solid var(--color-grey-2);
  font-size: 18px;
  line-height: 14px;
}

#header .nav-item:last-child {
  border: none;
}

#header .nav-link {
  padding: 0 20px;
}

#header .nav-link:first-child {
  padding-left: 0;
}

#header .nav-link:last-child {
  padding-right: 0;
}

/* Entre em Contato */

/* /Entre em Contato */

/* Footer */
.content_footer {
  background: var(--color-grey);
  color: var(--color-grey-5);
  font-size: 14px;
}

#footer .contato-footer a {
  color: var(--color-grey-5);
}

#footer .logo-footer {
  margin: 40px 0 54px;
}

#footer .nav-footer {
  margin-bottom: 50px;
}

#footer .nav-footer a {
  display: inline-block;
  font-size: 14px;
  color: var(--color-grey-5);
  padding: 0 15px;
}

#footer .nav-footer a:first-child {
  padding-left: 0;
}
#footer .nav-footer a:last-child {
  padding-right: 0;
}

#footer .contato-footer a:first-child {
  display: block;
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 700;
}

#footer .endereco a {
  color: var(--color-grey-5);
}

#footer .copyright {
  padding-top: 50px;
  font-size: 12px;
}

/* /Footer */

.banner {
  position: relative;
  width: 100%;
  height: 385px;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: ellipse(140% 98% at 50% 0%);
  z-index: 10;
}

.banner-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-grey);
}

.text-banner {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  color: var(--color-grey-4);
}

#inc-contato {
  color: var(--color-grey-5);
  padding: 70px 0 70px;
  background: var(--color-grey);
  text-align: center;
}

#inc-contato h4 {
  margin: 20px 0 40px;
  color: var(--color-primary);
}

#inc-contato a {
  margin-top: 30px;
}

#inc-contato hr {
  border-color: var(--color-grey-2);
  padding: 0;
  margin: 100px 0 0;
}

/*//////////////////////////////////////////////////*/
/*			 Desktop Atual acima de 1200px			*/
/*//////////////////////////////////////////////////*/

@media (min-width: 1200px) {
  #header .navbar-nav {
    height: 17px;
    margin-top: 30px;
  }
}

/*/ /////////////////////////////////////////////////*/
/*			            Tablets 					*/
/*//////////////////////////////////////////////////*/

@media (min-width: 992px) and (max-width: 1199px) {
  #header .navbar-nav {
    height: 17px;
    margin-top: 30px;
  }

  #header .navbar-brand {
    width: 283px;
  }

  #header .nav-link {
    padding: 0 15px;
  }
}

/*/ /////////////////////////////////////////////////*/
/*			            Tablets 					*/
/*//////////////////////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 36px;
    line-height: 45px;
  }
  h2 {
    font-size: 32px;
    line-height: 41px;
  }
  h3 {
    font-size: 26px;
    line-height: 35px;
  }
  h4 {
    font-size: 20px;
    line-height: 29px;
  }
  h5 {
    font-size: 20px;
    line-height: 29px;
  }

  p {
    font-size: 14px;
    line-height: 16px;
  }

  .banner {
    height: 215px;
    clip-path: ellipse(180% 98% at 50% 0%);
  }
}

/*/ /////////////////////////////////////////////////*/
/*	       Smartphones e Tablets Menores			*/
/*//////////////////////////////////////////////////*/

@media (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 38px;
  }
  h2 {
    font-size: 28px;
    line-height: 34px;
  }
  h3 {
    font-size: 22px;
    line-height: 29px;
  }
  h4 {
    font-size: 17px;
    line-height: 24px;
  }
  h5 {
    font-size: 17px;
    line-height: 24px;
  }

  p {
    font-size: 12px;
    line-height: 14px;
  }

  .banner {
    height: 185px;
    clip-path: ellipse(200% 98% at 50% 0%);
  }

  #footer .contato-footer {
    margin-right: 20px;
  }
}

/*/ /////////////////////////////////////////////////*/
/*	       Smartphones e Tablets Menores			*/
/*//////////////////////////////////////////////////*/

@media (max-width: 575px) {
  h1 {
    font-size: 26px;
    line-height: 32px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
  }

  p {
    font-size: 12px;
    line-height: 14px;
  }

  .banner {
    height: 180px;
    clip-path: ellipse(220% 98% at 50% 0%);
  }

  #footer .logo-footer {
    margin: 25px 0 30px;
    text-align: center;
  }

  #footer .logo-footer img {
    width: 100%;
    max-width: 370px;
  }

  #footer .nav-footer {
    margin-bottom: 40px;
  }

  #footer .nav-footer a {
    padding: 0 8px;
  }

  #footer .contato-footer a {
    display: inline-block !important;
  }

  #footer .endereco {
    margin-top: 60px;
    font-size: 12px;
  }

  #footer .copyright {
    padding-top: 0px;
    font-size: 10px;
    line-height: 10px;
  }
}

/*
	END SITE STYLE
*/

/*
	CLASSES STANDARDS
*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
